.App {
  text-align: center;
}

.container {
  background-color: #EBEBD3;
  border-radius: 10px;
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.video{
  width: 100%;
  display: block;
}

.right-container {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  margin-left: auto; 
  margin-right: 0;
  border-radius: 0px 10px 10px 0;
  z-index: 1;
}


.right-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}